* {
  padding: 0;
  margin: 0;
}

a a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

#newBridge nb_icon_wrap {
  height: 6%;
  width: 15%;
  right: 1%;
}







/* m */
html,
body {
  overflow-x: hidden;
}

.m {
  padding: 0;
}

.m-lun {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.m-lun .m-back {
  width: 6.4%;
  position: absolute;
  top: 20px;
  left: 4.6%;
  z-index: 500;
}



.m-lun .m-luns {
  width: 100%;
}

.m-lun .m-luns .jSlider .indicator span.selected {
  background-color: #0080FF;
}

.m-lun .m-luns .jSlider img {
  height: 210px;
}

.m-lun .m-luns .jSlider .indicator span {
  border: 0px;
}

/* m-ic */
.m-incro {
  position: relative;
}

.m-incro h3 {
  font-size: 1.25rem;
  color: #121212;
  margin: 20px 0 0 4%;
  font-weight: bold;
}

.m-incro .m-ic-icons {
  margin-bottom: 21px;
  margin-top: 12px;
}

.m-incro .m-ic-icons .m-jtop {
  overflow: hidden;
}

.m-incro .m-ic-icons span {
  color: #666666;
  font-size: .75rem;
  margin-right: 0.8%;
  padding: 2px 4px 1px 4px;
  background-color: #F5F5F5;
  border-radius: 2px;
}

.m-incro .m-ic-icons .m-zai {
  margin-left: 4%;
  background-color: #E9F7EA;
  color: #2CD264;
  border-radius: 2px;
}

.m-incro .m-ic-icons .m-jing {
  background-color: #EAF3FF;
  color: #66A8FF;
  border-radius: 2px;
}

.m-incro .m-ic-icons .m-ishou {
  position: absolute;
  right: 4%;
  top: -33px;
}

.m-incro .m-ic-icons .m-ishou img {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 2.8px;
}

.m-incro .m-ic-icons .m-ishou i {
  color: #333333;
  font-size: .875rem;
  font-style: normal;
}

.m-incro .m-jtop {
  overflow: hidden;
}

.m-incro .m-jtop li {
  width: 33.3%;
  float: left;
  padding-left: 15px;
}

.m-incro .m-jtop li:nth-child(1),
.m-incro .m-jtop li:nth-child(2) {
  border-right: 0.5px solid #EDEDED;
}

.m-incro .m-jtop li p {
  color: #fe582f;
  font-size: .6875rem;
  font-style: normal;
  display: block;
  height: 22px;
  overflow: hidden;
  margin-bottom: 2px;
  font-weight: bold;
}
.m-incro .m-jtop li p.lo{
  font-size: .5625rem;
}
.m-incro .m-jtop li p span{
  color: #fe582f;
  font-size: 1.125rem;
}
.m-incro .m-jtop li span {
  color: #999999;
  font-size: .75rem;
}

.m-incro .m-ibottom {
  margin-top: 20px;
  margin-left: 4%;
}

.m-incro .m-ibottom ul {
  display: inline-block;
  width: 40%;
}

.m-incro .m-ibottom ul li {
  color: #808080;
  font-size: .875rem;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-incro .m-ibottom ul li span {
  color: #2E2E2E;
}

.m-incro .m-ibottom p {
  width: 14%;
  color: #919499;
  font-size: .875rem;
  float: right;
  margin-right: 4%;
  margin-top: 10px;
}

.m-incro .m-ibottom p img {
  width: .75rem;
  margin-left: 2px;
  margin-bottom: 2px;
}

.m-incro .go-map {
  width: 96%;
  height: 34px;
  line-height: 34px;
  margin-bottom: 23px;
}

.m-incro .go-map .map-address {
  color:#808080;
  margin-left: 4%;
}

.m-incro .go-map span {
  color: #2E3033;
  font-size: .875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.m-incro .go-map .map-msg {
  color:#2E2E2E;
  width: 70%
}

.m-incro .go-map .map-go {
  float: right;
  width: 42px;
}




.m-incro .m-new {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

.m-incro .m-new div {
  color: #3EACF0;
  float: left;
  font-size: .9375rem;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 44%;
  background-color: #EDF5FA;
  border-radius: 3px;
  margin-left: 4%;
}

.m-incro .m-new div img {
  width: 10.5%;
  margin-right: 4%;
  margin-bottom: 3px;
}

.m-incro .m-new .m-kai {
  margin-left: 6%;
}

.m-image {
  padding: 10px 0;
  background-color: #F7F7F7;
}

.m-image img {
  width: 100%;
}



.m-line {
  width: 100%;
  height: 10px;
  background-color: #F7F7F7;
}



/* m-you */


.m-you h3 button {
  float: right;
  color: #1CB64F;
  font-weight: normal;
  font-size: .75rem;
  border: 0.5px solid #1CB64F;
  background-color: #fff;
  border-radius: 4px;
  width: 75px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-right: 4%;
  margin-top: -1.4%;
}

.m-you p {
  color: #808080;
  font-size: .9375rem;
  width: 100%;
  padding: 0 4%;
  line-height: 28px;
  margin-bottom: 20px;
}

/* m-dong */
.m-dong h3 {
  color: #121212;
  font-size: 1.125rem;
  margin: 25px 0 20px 4%;
  font-weight: bold;
}

.m-dong h3 span {
  color: #898989;
  font-size: .875rem;
  float: right;
  margin-right: 2%;
  font-weight: normal;
  width: 19%
}

.m-dong h3 span img {
  width: 22%;
  margin-top: -3%;
}

.m-dong .m-tai {
  padding: 0 4%;
  margin-bottom: 36px;
}

.m-dong .m-tai h4 {
  color: #404040;
  font-size: 1rem;
  margin-bottom: 10.5px;
}

.m-dong .m-jiaofang {
  margin-bottom: 20px !important;
}

.m-dong .m-shoukai {
  margin-bottom: 20px !important;
}

.m-dong .m-nadi {
  margin-bottom: 0px !important;
}

.m-dong .m-d p {
  color: #646466;
  font-size: .875rem;
  letter-spacing: 0px;
  line-height: 20px;
  margin: 0;
}

.m-dong .d-pic {
  width: 92%;
  margin-left: 4%;
  height: 136px;
  background-color: #FCFCFC;
  position: relative;
  margin-top:30px;
}

.m-dong img {
  width: 22%;
  margin-top: 58px;
}

.m-dong .dtop {
  width: 20%;
  position: absolute;
  top: 14px;
  text-align: center;
}

.m-dong .dtop p {
  color: #919499;
  font-size: .875rem;
  margin-bottom: 2px;
  text-align: center;
}

.m-dong .dtop span {
  color: #919499;
  font-size: .5625rem;
  text-align: center;
}

.m-dong .dt1 {
  left: 3%;
}

.m-dong .dt2 {
  left: 50%;
}

.m-dong .dbom {
  width: 20%;
  position: absolute;
  bottom: 6px;
  text-align: center;
}

.m-dong .dbom p {
  color: #919499;
  font-size: .875rem;
  text-align: center;
}

.m-dong .dbom span {
  color: #919499;
  font-size: .5625rem;
  text-align: center;
  margin-bottom: 2px;
}

.m-dong .dt3 {
  left: 27%;
}

.m-dong .dt4 {
  left: 74%;
}

.m-dong .dactive p {
  color: #4DB5FF;
}

.m-dong .dactive span {
  color: #4DB5FF;
}

.m-dong button {
  width: 92%;
  height: 40px;
  background-color: #EDF5F9;
  color: #3DABEF;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  margin-left: 4%;
  border-radius: 3px;
  border: 0px;
  margin-bottom: 21px;
  margin-top: 27px;
}


/* m-hu */


.m-hu h3 {
  color: #121212;
  font-size: 1.125rem;
  margin: 25px 0 23px 4%;
  font-weight: bold;
}

.m-hu h3 span {
  color: #898989;
  font-size: .875rem;
  float: right;
  font-weight: normal;
}

.m-hu h3 span img {
  width: 17%;
}

.m-hu .h-c .h-c-i {
  margin-bottom: 20px;
  width:22%;
  margin-right: 4%;
}

.m-hu .h-c .h-c-i img {
  width: 100%;
  height: 95px !important;
}

.m-hu .h-c .h-c-c {
  padding-left: 0;
  margin-bottom: 20px;
}

.m-hu .h-c .h-c-c .h-t {
  margin-bottom: 14px;
  margin-top: 2px;
}

.m-hu .h-c .h-c-c .h-t h4 {
  font-size: 1.0625rem;
  color: #333333;
  display: inline;
  font-weight: bold;
}

.m-hu .h-c .h-c-c .h-t .h-t-z {
  font-size: .75rem;
  color: #fff;
  padding: 0.5% 3%;
  background-color: #2cd264;
  margin-left: 5%;
  border-radius: 2px;
  position: relative;
  top:-2px;
}

.m-hu .h-c .h-c-c .h-t .h-t-m {
  font-size: .75rem;
  color: #FE582F;
  float: right;
}

.m-hu .h-c .h-c-c .h-t .h-t-m i {
  font-size: 1.125rem;
  font-style: normal;
  /* display: inline-block; */
  overflow: hidden;
  line-height: 19px;
  font-weight: bold;
}

.m-hu .h-c .h-c-c .sp {
  font-size: .75rem;
  color: #808080;
  margin-bottom: 5px;
  height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-hu .h-c .h-c-c .sp-f {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.m-hu .swiper-house {
  overflow: hidden;
}

.m-hu button {
  width: 92%;
  height: 44px;
  background-color: #F0F2F5;
  color: #4DB5FF;
  font-size: 1rem;
  text-align: center;
  line-height: 44px;
  margin-left: 4%;
  border: 0px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 5px;
  font-weight: bold;
}

.m-hu .tegood .top {
  background-color: #F5F5F5;
  height: 120px;
  text-align: center;
}

.m-hu .tegood .top img {
  height: 100%;
  max-width: 100%;
}

.m-hu .tegood h5 {
  color :#121212;
  font-size: 1.0625rem;
  margin-bottom: 8px;
  margin-top: 14px;
  display: flex;
  align-content: center;
  line-height: 15px;
}

.m-hu .tegood h5 span {
  display: inline-block;
  width: 31px;
  height: 16px;
  border-radius: 2px;
  background-color: #2CD264;
  text-align: center;
  line-height: 18px;
  color: #fff;
  font-size: .6875rem;
  margin-left: 4px;
}

.m-hu .tegood .jian {
  color: #646466;
  font-size: .8125rem;
  /* margin-bottom: 4px; */
}

.m-hu .tegood .red {
  color: #FE582F;
  font-size: .875rem;
}

.m-hu .tegood .red span {
  font-size: 1.125rem;
  margin-left: 3px;
}

.m-hu .tegood button {
  width: 100%;
  border-radius:3px;
  margin-left: 0;
  height: 36px;
  line-height: 36px;
  font-weight: normal;
  background-color: #EDF5F9;
  color: #3DABEF;
  margin-top: 15px;
  margin-bottom: 21px;
}

/* m-dai */
.m-dai {
  height: auto;
}

.m-dai h3 {
  color: #121212;
  font-size: 1.125rem;
  margin: 27px 0 14px 4%;
  font-weight: bold;
}

.m-dai h3 span {
  float: right;
  margin-right: 1%;
  color: #898989;
  font-size: .875rem;
  font-weight: normal;
}

.m-dai h3 span img {
  width: 17%;
}

.m-dai .m-d-content {
  padding: 0 4%;
  margin-bottom: 30px;
  position: relative;
  top: 6px;
}



.m-dai .m-d-content div {
  display: inline-block;
}

.m-dai .m-d-content .m-d-name {
  color: #343434;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.m-dai .m-d-content .m-d-name span {
  color: #fff;
  font-size: .625rem;
  padding: 3px 6px;
  background: linear-gradient(-45deg, rgba(243, 214, 152, 1), rgba(247, 200, 100, 1));
  border-radius: 12px;
  font-weight: normal;
  margin-left: 9px;
}

.m-dai .m-d-content .m-d-fen {
  color: #343434;
  font-size: .75rem;
}

.m-dai .m-d-content .m-d-ping {
  color: #999999;
  font-size: .75rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 4px;
}

.m-dai .m-d-content .m-d-text {
  color: #999999;
  font-size: .75rem;
  margin: 0;
}

.m-dai .m-d-content button {
  display: block;
  width: 100%;
  height: 40px;
  background: #EDF5F9;
  border-radius: 3px;
  color: #3DABEF;
  font-size: 1rem;
  border: 0px;
  text-align: center;
  line-height: 40px;
}

.m-dai .m-d-content .m-w-content {
  padding-bottom: 16px;
  border-bottom: 0.5px solid #F2F4F7;
  margin-bottom: 7px;
  width: 100%;
}

.m-dai .m-d-content .m-w-content:nth-of-type(2){
  border:0
}

.m-dai .m-d-content .m-w-content h4 {
  color: #333333;
  font-size: 1rem;
  margin-bottom: 12px;
}

.m-dai .m-d-content .m-w-content h4 u{
  text-decoration: none;
  display: inline-block;
  width:90%;
  line-height: 25px;
}

.m-dai .m-d-content .m-w-content h4 span,
.m-dai .m-d-content .m-w-content p span {
  width: 17px;
  height: 17px;
  background:linear-gradient(-90deg,rgba(255,133,60,1),rgba(255,67,47,1));
  border-radius: 5px 0px 5px 0px;
  font-size: .75rem;
  color: #fff;
  margin-right: 12px;
  text-align: center;
  line-height: 17px;
  float: left;
  margin-top:5px
}
.m-dai .m-d-content .m-w-content p {
  display: flex;
}
.m-dai .m-d-content .m-w-content p .imgbox {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.m-dai .m-d-content .m-w-content p span {
  background:linear-gradient(-270deg,rgba(52,138,255,1),rgba(106,204,255,1));
  float: left;
  color: #fff;
}

.m-dai .m-d-content .m-w-content p {
  color: #999999;
  font-size: .9375rem;
  margin-bottom: 6px;
}

.m-dai .m-d-content .m-w-content p img {
  width: 24px;
  margin-right: 10px;
}

.m-dai .m-d-content .m-w-content p::after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

.m-dai .m-d-content .m-w-content p i {
  font-style: normal;
  float: left;
  color:#616366;
  margin-bottom: 4px;
  overflow: hidden;
  width:100%
}

.m-dai .m-d-content .m-w-content p .peoname {
  font-style: normal;
  color: #343434;
  font-style: 14px;
  margin-right: 4px;
}

.m-dai .m-d-content .m-w-content p .peowork {
  font-style: normal;
  color: #3EACF0;
  font-size: .625rem;
  padding: 2px 3px 1px 3px;
  border: 0.5px solid #3EACF0;
  border-radius: 1px;
}

.m-dai .m-d-content .m-w-content p i u{
  text-decoration: none;
  color:#919499;
  font-size: .9375rem;
  float: right;
  margin-right: 4%;
}

.m-dai .m-d-content .m-w-content .time {
  color: #919499;
  font-size: .75rem;
}

.m-dai .m-d-content .m-w-content .giveup {
  color: #919499;
  font-size: .6875rem;
  float: right;
  margin-right: -3%;
}

.m-dai .m-d-content .m-w-content .giveup img {
  width: 16%;
  margin-right: 4%;
  margin-bottom: 2px;
}

.m-dai .m-d-content .m-w-content .m-w-all {
  color: #4F84FE;
  font-size: .75rem;
  float: right;
  margin-right: 4%;
  cursor: pointer;
}

/* m-zhou */
.m-zhou h3 {
  color: #121212;
  font-size: 1.125rem;
  margin: 25px 0 25px 4%;
  font-weight: bold;
}

.m-zhou h3 span {
  float: right;
  margin-right: 1%;
  color: #898989;
  font-size: .875rem;
  font-weight: normal;
}

.m-zhou h3 span img {
  width: 17%;
}

.m-zhou #m-container {
  width: 92%;
  height: 150px;
  margin-left: 4%;
  margin-bottom: 17px;
  border-radius: 5px;
}

.m-zhou .m-z-icons {
  margin-bottom: 24px;
}

.m-zhou .m-z-icons .swiper-map {
  padding-bottom: 10px;
  border-bottom: 0.5px solid #F4F4F4;
  overflow: hidden;
}

.m-zhou .m-z-icons .swiper-map .tegood {
  font-size: .9375rem;
  height: 23px;
  color: #4C4C4C;
}

.m-zhou .m-z-icons .swiper-map .active {
  color: #3DABEF;
  position: relative;
}

.m-zhou .m-z-icons .swiper-map .active i {
  display: block;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #3DABEF;
  bottom: -1px;
  left: 2px;
}

.m-zhou .m-z-icons .map-con .msg {
  height: 160px;
  width: 100%;
  line-height: 160px;
  text-align: center;
}

.m-zhou .m-z-icons .map-con >>> li {
  margin-top: 18px;
  padding: 0 4%
}

.m-zhou .m-z-icons .map-con >>> li h5 {
  color: #191919;
  font-size: 1rem;
  margin-bottom: 6px;
  margin-top:12px;
}

.m-zhou .m-z-icons .map-con >>> li p {
  color: #999999;
  font-size: .8125rem;
}

.m-zhou .m-z-icons .map-con >>> li p span {
  float: right;
}

.m-zhou .m-z-icons .map-con >>> li p span img {
  width: 14px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.m-zhou button {
  width: 92%;
  height: 40px;
  background-color: #EDF5F9;
  color: #3DABEF;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  margin-left: 4%;
  border-radius: 3px;
  border: 0px;
  margin-bottom: 21px;
}



/* m-ling */
.m-ling h3 {
  color: #121212;
  font-size: 1.125rem;
  margin: 25px 0 23px 4%;
  font-weight: bold;
}

.m-ling h3 span {
  float: right;
  color: #999999;
  font-size: .875rem;
  margin-right: 4%;
  font-weight: normal;
}

.m-ling h3 span i {
  color: #FF6E57;
  font-weight: bold;
  font-style: normal;
}

.m-ling img {
  width: 26.67%;
  height: 85px;
  margin-left: 4%;
  margin-bottom: 28px;
  margin-right: 4%;
  border-radius: 2px;
  float: left;

}

.m-ling .m-iright {
  width: 56%;
  display: inline-block;
  position: relative;
}

.m-ling .m-iright h4 {
  color: #121212;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 20px;
}

.m-ling .m-iright p {
  color: #646466;
  font-size: .8125rem;
  margin-bottom: 3px;
}
.m-ling .m-iright p.ling-ssd {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  height: 18px;
  width: 92%;
  margin-bottom: 10px;
}

.m-ling .m-iright p i {
  font-style: normal;
  display: block;
  margin-bottom: 3px;
}

.m-ling .m-iright span {
  color: #6987B3;
  font-size: .8125rem;
  position: absolute;
  right:-21px;
  bottom:11px
}

.m-ling p span {
  color: #FF6565;
}

.m-ling button {
  width: 92%;
  height: 40px;
  background-color: #EDF5F9;
  color: #3DABEF;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  margin-left: 4%;
  border-radius: 3px;
  border: 0px;
  margin-bottom: 23px;
}


/* m-huo */
.m-huo {
  margin-bottom: 20px;
}

.m-huo h3 {
  color: #121212;
  font-size: 1.125rem;
  margin: 25px 0 0 4%;
  font-weight: bold;
}

.m-huo h3 p {
  float: right;
  color: #404040;
  font-size: 1rem;
  font-weight: normal;
  margin-right: 4%;
}

.m-huo h3 p span {
  color: #FF5959;
  font-weight: bold;
}

.m-huo .table {
  position: relative;
  height: 150px;
  overflow: hidden;
}

.m-huo .table .huo-more {
  width: 100%;
  height: 50px;
  background:linear-gradient(0deg,rgba(255,255,255,1),rgba(255,255,255,0));
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 50px;
}

.m-huo .table .huo-more img {
  width:17.5px
}

.m-huo table {
  border-top: 1px solid #EDEDED;
  border-left: 1px solid #EDEDED;
  width: 92%;
  margin-left: 4%;
}

.m-huo table tr th {
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  text-align: center;
  height: 32px;
  color: #333333;
  font-size: .875rem;
}

.m-huo table tr td {
  border-right: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  text-align: center;
  height: 32px;
  color: #808080;
  font-size: .875rem;
}

.m-huo .m-btns {
  position: relative;
}

.m-huo .m-btns input {
  margin-top: 25px;
  width: 69.9%;
  margin-left: 4%;
  height: 32px;
  border: 0.5px solid #ccc;
  padding-left: 10px;
  border-radius: 3px 0 0 3px;
}

.m-huo .m-btns input::-webkit-input-placeholder {
  color: #999999;
  font-size: .8125rem;
  text-align: left;
}

.m-huo .m-btns button {
  width: 92%;
  height: 40px;
  background-color: #F0F5F2;
  color: #1CB64F;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  margin-left: 4%;
  border: 0px;
  border-radius: 3px;
  margin-bottom: 20px;
}





/* m-tui */


.m-tui .m-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.m-tui .m-nav p {
  color: #919499;
  font-size: 1.0625rem;
  position: relative;
}

.m-tui .m-nav p:nth-of-type(1) {
  margin-right: 20%;
}

.m-tui .m-nav p.n-active {
  color: #2E3033;
  font-weight: bold;
}

.m-tui .m-nav p.n-active i {
  display: block;
  position: absolute;
  width: 35%;
  height: 3px;
  background-color: #21B3FF;
  border-radius: 1px;
  bottom: -7px;
  left: 50%;
  margin-left: -17.5%;
}

.m-tui .re-con {
  margin-bottom: 25px;
  display: block;
  padding: 0 4%;
}

.m-tui .re-list {
  padding: 16px 0;
  border-bottom: 0.5px solid #F2F4F7;
  width: 100%;
}

.m-tui .re-list::after {
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
}

.m-tui .re-list .re-con-left {
  margin-right: 14px;
  position: relative;
  width: 33.4%;
  height: 86px;
  border-radius: 5px;
  float: left;
}

.m-tui .re-list .re-con-left img {
  width: 100%;
  height: 86px;
  border-radius: 5px;
}

.m-tui .re-list .re-con-left span {
  position: absolute;
  right: 3%;
  bottom: 1%;
  font-size: .625rem;
  color: #FFFFFF;
}
.m-tui .re-list .re-con-left span i{
  font-size: .75rem;
}
.m-tui .re-list .re-con-right {
  float: left;
  width: 62%;
  position: relative;
  top:1px;
}

.m-tui .re-list .re-con-right h5 {
  color: #2e3033;
  font-size: 1.0625rem;
  font-weight: normal;
  margin-bottom: 4px;
}

.m-tui .re-list .re-con-right h5 span {
  width: 36px;
  height: 17px;
  border-radius: 2px;
  text-align: center;
  line-height: 17px;
  float: right;
  background-color: #E9F7EA;
  color: #2CD264;
  display: block;
  font-weight: 500;
  font-size: .6875rem;
}

.m-tui .re-list .re-con-right .price {
  color: #FE582F;
  font-size: .75rem;
  margin-bottom: 1px;
}

.m-tui .re-list .re-con-right .price span {
  font-size: 1.125rem;
}

.m-tui .re-list .re-con-right .area {
  color: #919499;
  font-size: .75rem;
  margin-bottom: 2px;
}

.m-tui .re-list .re-con-right .area span {
  margin-right: 2%;
}

.m-tui .re-list .re-con-right .tabs .strong {
  padding: 1px 8px;
  background-color: #EBF5FC;
  display: inline-block;
  margin-right: 6px;
  color: #4DB5FF;
  font-size: .6875rem;
  border-radius: 2px;
}

.m-tui .re-list .re-con-right .tabs span {
  display: inline-block;
  padding: 2px 5px;
  background-color: #F7F8FA;
  color: #919499;
  font-size: .6875rem;
  margin-right: 6px;
  border-radius: 2px;
}

.m-tui .more-res {
  width: 100%;
  height: 44px;
  background-color: #F2F3F5;
  border-radius: 4px;
  color: #4DB5FF;
  font-size: 1rem;
  text-align: center;
  line-height: 44px;
  border: 0
}


/* m-botnav */
/* 页面底部悬浮 */
/* m-botnav */
.m-botnav {
  width: 100%;
  height: 64px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 200;
  box-shadow: 0px 0px 9px 1px rgba(6, 0, 1, 0.04);
  max-width: 450px;
}

.m-botnav p {
  display: inline-block;
  margin-top: 14px;
  margin-left: 9.333333%;
  color: #808080;
  font-size: .625rem;
  margin-right: 1.86666667%;
}
.m-botnav .havenew {
  color: #ff9a26;
}
.m-botnav p img {
  width: 46%;
  display: block;
}
.m-botnav p img#forked{
  display: block;
}
.m-botnav #m_shou {
  margin-left: 6.333333%;
  margin-right: 3.866667%;
  position: relative;
}
.m-botnav #m_shou img {
  margin-left: 26%;
}
.m-botnav #m_shou span{
  position: absolute;
  display: block;
  width:.8125rem;
  height: .8125rem;
  border-radius: 50%;
  text-align: center;
  line-height: .8125rem;
  font-size: .625rem;
  color:#fff;
  background-color: #F34F4F;
  right: .625rem;
  top: -0.25rem
}

.m-botnav button {
  display: inline-block;
  position: absolute;
  top: 10px;
  width: 33.06667%;
  height: 44px;
  font-size: .9375rem;
  border-radius: 3px;
  border: 0px;
}

.m-botnav .m-pho {
  background:linear-gradient(90deg,rgba(255,76,76,1),rgba(255,152,106,1));
  color: #fff;
}

.m-botnav .m-pho .ph1 {
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0;
  padding: 0;

}

.m-botnav .m-pho .ph1 img {
  width: 18px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 1px;
}

.m-botnav .m-pho .ph2 {
  color: #FFFFFF;
  font-size: .625rem;
  margin: 0;
  padding: 0;
}

.m-botnav .m-y {
  background:linear-gradient(-270deg,rgba(52,138,255,1),rgba(106,204,255,1));
  color: #fff;
  left: 62%;
}

.m-botnav .m-y .ph1 {
  color: #FFFFFF;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.m-botnav .m-y .ph1 img {
  width: 18px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 1px;
}

.m-botnav .m-y .ph2 {
  color: #FFFFFF;
  font-size: .625rem;
  margin: 0;
  padding: 0;
}

/* tanchuang */


.m-chang {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.m-c-content {
  width: 74.6666667%;
  height: 352px;
  background-color: #fff;
  border-radius: 12px;
  position: fixed;
  top: 0;
  margin-top: 170px;
  left: 50%;
  margin-left: -37.333333%;
  text-align: center;
  padding: 0 5%;
  z-index: 1001;
}

.m-c-content h5 {
  color: #3AC869;
  font-size: 1.125rem;
  margin: 0;
  margin-top: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.m-c-content img {
  position: absolute;
  width: 8.6%;
  top: 3.1%;
  right: 3.5%;
}

.m-c-content p {
  color: #999999;
  font-size: 1rem;
  text-align: initial;
}

.m-c-content .m-c-btn {
  width: 80px;
  font-size: .75rem;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 237px;
}

.m-c-content input {
  width: 100%;
  height: 44px;
  border: 0px;
  border-bottom: 0.5px solid #F2F2F2;
  margin-bottom: 10px;
  color: #4D4D4D;
  font-size: 1.125rem;
}

.m-c-content input::-webkit-input-placeholder {
  font-size: .9375rem;
  color: #999999;
}

.m-c-content button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #F0F5F2;
  border-radius: 4px;
  color: #3AC869;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  margin-top: 10px;
  border: 0px;
}

.m-c-content span {
  display: block;
  text-align: center;
  line-height: 26px;
  border: 0.5px solid #3AC869;
  color: #3AC869;
  font-size: .75rem;
  width: 29%;
  height: 26px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 41%;
  right: 7%;
}

#m_c_box {
  display: none;
}

#m_a_box {
  display: none;
}

#m_a_box span {
  top: 35%;
}

#m_d_box {
  display: none;
}

#m_g_box {
  display: none;
}

#m_g_box .m-c-content {
  height: 350px;
}

#m_g_box .m-c-content h5 {
  margin-top: 22px;
  margin-bottom: 22px;
}

#m_g_box .m-c-content span {
  top: 51%;
}

#m_y_box {
  display: none;
}

#m_y_box .m-c-content p {
  font-size: .875rem;
}

#m_k_box {
  display: none;
}

#m_h_box {
  display: none;
}

#m_h_box .m-c-content {
  height: 350px;
}

#m_h_box .m-c-content h5 {
  margin-top: 22px;
  margin-bottom: 22px;
}

#m_h_box .m-c-content span {
  top: 51%;
}

#m_l_box {
  display: none;
}

#m_l_box .m-c-content {
  height: 350px;
}

#m_l_box .m-c-content h5 {
  margin-top: 22px;
  margin-bottom: 22px;
}

#m_l_box .m-c-content span {
  top: 51%;
}

#m_w_box {
  display: none;
}

#m_z_box {
  display: none;
}

#m_z_box .m-c-content {
  height: 350px;
}

#m_z_box .m-c-content h5 {
  margin-top: 22px;
  margin-bottom: 22px;
}

#m_z_box .m-c-content span {
  top: 51%;
}

.m-chang {
  display: none;
}

.m-o-succ {
  position: fixed;
  top: 190px;
  left: 50%;
  margin-left: -37.33333%;
  width: 74.666667%;
  background-color: #fff;
  z-index: 10001;
  padding: 0 5%;
  border-radius: 12px;
  height: 325px;
  text-align: center;
}

.m-o-succ .o-esc {
  position: absolute;
  width: 8.6%;
  top: 3.1%;
  right: 3.5%;
}

.m-o-succ .o-success {
  width: 41%;
  margin-top: 45px;
  margin-bottom: 33px;
}

.m-o-succ p {
  color: #666666;
  font-size: 1rem;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 32px;
}

.m-o-succ button {
  width: 100%;
  height: 40px;
  background: linear-gradient(270deg, rgba(102, 207, 255, 1), rgba(76, 181, 255, 1));
  color: #fff;
  font-size: 1rem;
  text-align: center;
  line-height: 40px;
  border: 0px;
  border-radius: 4px;
}

#m_ti {
  position: fixed;
  display: none;
  width: 25%;
  height: 32px;
  top: 45%;
  border-radius: 4px;
  line-height: 32px;
  text-align: center;
  left: 50%;
  margin-left: -12.5%;
  background-color: #fff;
  z-index: 10001;
}
